.botoes {
    align-items: center;
    background: #FFFFFF;
    border: 0 solid #E2E8F0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    color: #1A202C;
    display: inline-flex;
    font-family: Inter, sans-serif;
    font-size: 1.1vw;
    font-weight: 700;
    height: 5vh;
    justify-content: center;
    line-height: 24px;
    overflow-wrap: break-word;
    text-decoration: none;
    width: 10vw;
    border-radius: 2vw;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    transition: 0.3s;
    position: fixed;
    top: 0;
    left: 0;
}

.botoes:hover {
    box-shadow: 0 6px 6px 1px rgba(0, 0, 0, 0.3), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.square {
    margin-top: 7vh;
    justify-content: center;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    margin-left: 25%;
    margin-right: 25%;
    height: 75vh;
    align-items: center;
    text-align: center;
    border-radius: 1.5vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2vw;
}

.texto {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}